In [1]:
import numpy as np
import pandas as pd

In [2]:
# This csv file was the correct one
goed = pd.read_csv('PTSD_VandeSchoot_18.csv', encoding = "unicode_escape")

In [3]:
# File containing some duplicates that was used for running simulations
fout = pd.read_csv('Original/schoot-lgmm-ptsd-initial.csv')

In [4]:
# Sanity len checks
print("Goed: ", len(goed))
print("Fout: ", len(fout))

Goed:  5780
Fout:  6187

In [38]:
goedincl = goed[goed['included'] == 1]
len(goedincl)

38

In [39]:
titles = []

for title2 in fout['title']:
    for title1 in goedincl['title']:
        if title1 == title2:
            #print("Title1: ", title1, "\n", "Title2: ", title2, "\n")
            titles.append(title1)
            
print("Aantal: ", len(titles))

Aantal:  41

In [40]:
# Set inclusion column to be all zeros
fout['included'] = 0

In [41]:
# Set all correct inclusions to 1 in fout['included']
for title in goedincl['title']:
    fout.loc[fout['title'] == title, 'included'] = 1

In [42]:
# find duplicates
for i in range(len(titles)):
    for j in range(i+1, len(titles)):
        if titles[i] == titles[j]:
            print(titles[i])

Trajectories of trauma symptoms and resilience in deployed US military service members: Prospective cohort study
Trajectory of post-traumatic stress following traumatic injury: 6-year follow-up
Disaster survivors in their third decade: trajectories of initial stress responses and long-term course of mental health
Trajectories of posttraumatic stress symptoms (PTSS) after major war among Palestinian children: Trauma, family- and child-related predictors

In [43]:
fout.query("title == 'Trajectories of trauma symptoms and resilience in deployed US military service members: Prospective cohort study'")

,abstract,access_date,accession_number,alternate_title1,author_address,authors,custom2,custom6,custom7,database_provider,...,short_title,start_page,title,type_of_reference,type_of_work,url,version,volume,year,included
719,Background: Most previous attempts to determin...,NaN,NaN,NaN,"Bonanno, George A.: Department of Counseling a...","['Bonanno, George A.', 'Mancini, Anthony D.', ...",NaN,NaN,NaN,NaN,...,Trajectories of trauma symptoms and resilience...,317-323,Trajectories of trauma symptoms and resilience...,JOUR,Military Psychology 3800,http://ovidsp.ovid.com/ovidweb.cgi?T=JS&PAGE=r...,http://dx.doi.org/10.1192/bjp.bp.111.096552,200,2012.0,1
720,Background: Most previous attempts to determin...,NaN,NaN,NaN,Department of Counseling and Clinical Psycholo...,"['Bonanno, G. A.', 'Mancini, A. D.', 'Horton, ...",NaN,NaN,NaN,NaN,...,Trajectories of trauma symptoms and resilience...,317-323,Trajectories of trauma symptoms and resilience...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,200,2012.0,1

In [44]:
fout.query("title == 'Trajectory of post-traumatic stress following traumatic injury: 6-year follow-up'" )

,abstract,access_date,accession_number,alternate_title1,author_address,authors,custom2,custom6,custom7,database_provider,...,short_title,start_page,title,type_of_reference,type_of_work,url,version,volume,year,included
896,BACKGROUND: Traumatic injuries affect millions...,NaN,25657356.0,The British journal of psychiatry : the journa...,"Richard A. Bryant, PhD, School of Psychology, ...","['Bryant, R. A.', 'Nickerson, A.', 'Creamer, M...",NaN,NaN,NaN,NLM,...,Trajectory of post-traumatic stress following ...,417-23,Trajectory of post-traumatic stress following ...,JOUR,NaN,http://bjp.rcpsych.org/content/bjprcpsych/206/...,NaN,206,2015.0,1
897,NaN,NaN,NaN,NaN,NaN,"['Bryant, R. A.', 'Nickerson, A.', 'Creamer, M...",NaN,NaN,NaN,NaN,...,Trajectory of post-traumatic stress following ...,NaN,Trajectory of post-traumatic stress following ...,JOUR,NaN,NaN,NaN,NaN,2015.0,1

In [45]:
fout.query("title == 'Disaster survivors in their third decade: trajectories of initial stress responses and long-term course of mental health'")

,abstract,access_date,accession_number,alternate_title1,author_address,authors,custom2,custom6,custom7,database_provider,...,short_title,start_page,title,type_of_reference,type_of_work,url,version,volume,year,included
2444,This study analyzed trajectories of initial st...,NaN,NaN,NaN,"K.H. Holgersen, Department of Neuroscience, No...","['Holgersen, K. H.', 'Klockner, C. A.', 'Boe, ...",NaN,NaN,NaN,NaN,...,Disaster survivors in their third decade: traj...,334-341,Disaster survivors in their third decade: traj...,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,24,2011.0,1
2445,This study analyzed trajectories of initial st...,NaN,NaN,NaN,"K.H. Holgersen, Department of Neuroscience, No...","['Holgersen, K. H.', 'Klöckner, C. A.', 'Boe, ...",NaN,NaN,NaN,NaN,...,Disaster survivors in their third decade: traj...,334-341,Disaster survivors in their third decade: traj...,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,24,2011.0,1

In [46]:
fout.query("title == 'Trajectories of posttraumatic stress symptoms (PTSS) after major war among Palestinian children: Trauma, family- and child-related predictors'")

,abstract,access_date,accession_number,alternate_title1,author_address,authors,custom2,custom6,custom7,database_provider,...,short_title,start_page,title,type_of_reference,type_of_work,url,version,volume,year,included
4434,Objective Research shows great individual vari...,NaN,NaN,NaN,"R.-L. Punamaki, School of Social Sciences and ...","['Punamaki, R. L.', 'Palosaari, E.', 'Diab, M....",NaN,NaN,NaN,NaN,...,Trajectories of posttraumatic stress symptoms ...,133-140,Trajectories of posttraumatic stress symptoms ...,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,172,2014.0,1
4435,Objective Research shows great individual vari...,NaN,NaN,NaN,School of Social Sciences and Humanities/Psych...,"['Punamäki, R. L.', 'Palosaari, E.', 'Diab, M....",NaN,NaN,NaN,NaN,...,Trajectories of posttraumatic stress symptoms ...,133-140,Trajectories of posttraumatic stress symptoms ...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,172,2014.0,1

# Queries op goed

In [47]:
goed.query("title == 'Trajectories of posttraumatic stress symptoms (PTSS) after major war among Palestinian children: Trauma, family- and child-related predictors'")

,authors,title,keywords,abstract,included
4175,"Punamaki, R. L., Palosaari, E., Diab, M., Pelt...",Trajectories of posttraumatic stress symptoms ...,"['adolescent', 'article', 'avoidance behavior'...",Objective Research shows great individual vari...,1

In [48]:
len(fout[fout['included'] == 1])

41

In [49]:
fout[fout['included'] == 1]['title']

284     Latent trajectories of trauma symptoms and res...
335     A Latent Growth Mixture Modeling Approach to P...
592     Peace and War: Trajectories of Posttraumatic S...
675     The relationship between course of PTSD sympto...
719     Trajectories of trauma symptoms and resilience...
720     Trajectories of trauma symptoms and resilience...
896     Trajectory of post-traumatic stress following ...
897     Trajectory of post-traumatic stress following ...
1425    Psychopathology and Resilience Following Traum...
1446    Heterogeneity in the course of posttraumatic s...
1568    Post-traumatic stress symptoms 5 years after m...
1922    Early PTSD Symptom Trajectories: Persistence, ...
1933    Peritraumatic and trait dissociation different...
2382    Predictors of Posttraumatic Stress Symptom Tra...
2408    The limits of resilience: Distress following c...
2444    Disaster survivors in their third decade: traj...
2445    Disaster survivors in their third decade: traj...
2455    Different clinical courses of children exposed...
2472    Resource Loss, Resource Gain, and Psychologica...
2616    Six years after the wave. Trajectories of post...
3053    Children's Postdisaster Trajectories of PTS Sy...
3141    Parental response to child injury: examination...
3316    Mental health and general wellness in the afte...
3483    Trajectories of Scores on a Screening Instrume...
3489    Growth curve trajectories of distress in burn ...
3898    Posttraumatic Stress in Deployed Marines: Pros...
4011    Looking for resilience: Understanding the long...
4104    Prospective trajectories of posttraumatic stre...
4106    The course of PTSD symptoms among Gulf War vet...
4313    Trajectories of PTSD risk and resilience in Wo...
4334    Trajectories of posttraumatic stress symptomat...
4434    Trajectories of posttraumatic stress symptoms ...
4435    Trajectories of posttraumatic stress symptoms ...
4768    Mental Health Over Time in a Military Sample: ...
4938    Maternal posttraumatic stress disorder symptom...
4939    Posttraumatic stress disorder symptom trajecto...
5054    Identifying longitudinal trajectories of emoti...
5244    Trajectories of PTSD symptoms following sexual...
5284    Compensation claim lodgement and health outcom...
5479    PTSD Symptom Trajectories in Disaster Voluntee...
5655    Posttraumatic stress symptoms after exposure t...
Name: title, dtype: object

# In goedincl zitten GEEN duplicates

In [50]:
count = 0
for i in range(len(goedincl['title'])):
    for j in range(i+1, len(goedincl['title'])):
        if goedincl['title'].iloc[i] == goedincl['title'].iloc[j]:
            count += 1
            print(goedincl['title'].iloc[i])

In [51]:
fout[fout['title'].isnull()]

,abstract,access_date,accession_number,alternate_title1,author_address,authors,custom2,custom6,custom7,database_provider,...,short_title,start_page,title,type_of_reference,type_of_work,url,version,volume,year,included
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1994.0,0
152,NaN,NaN,NaN,NaN,NaN,"['Abidin, R. R.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1990.0,0
264,NaN,NaN,NaN,NaN,NaN,"['American Psychiatric, Association']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1987.0,0
270,Anxiety disorders are widespread psychiatric c...,NaN,NaN,NaN,"A. Pelissolo, Service de psychiatrie, honullpi...","['Ammar, G.', 'Naja, W. J.', 'Pelissolo, A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,NaN,2014.0,0
413,NaN,NaN,NaN,NaN,NaN,"[""B'Tselem""]",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2009.0,0
515,NaN,NaN,NaN,NaN,NaN,"['Beck, A. T.', 'Steer, R. A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1987.0,0
516,NaN,NaN,NaN,NaN,NaN,"['Beck, A. T.', 'Steer, R. A.', 'Brown, G. K.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1996.0,0
572,NaN,NaN,NaN,NaN,NaN,"['Berg, R.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2009.0,0
576,NaN,NaN,NaN,NaN,NaN,"['Bergsten Brucefors, A.', 'Sidén Silfver, Y.'...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2001.0,0
653,NaN,NaN,NaN,NaN,NaN,"['Blake, D.', 'Weathers, F.', 'Nagy, L.', 'Kal...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1990.0,0
724,NaN,NaN,NaN,NaN,NaN,"['Bonanno, G. A.', 'Westphal, M.', 'Mancini, A...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,NaN,0
732,NaN,NaN,NaN,NaN,NaN,"['Bonnie, R. J.', 'Fulco, C. E.', 'Liverman, C...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1999.0,0
734,NaN,NaN,NaN,NaN,NaN,"['Borenstein, S.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2011.0,0
852,NaN,NaN,NaN,NaN,NaN,"['Bronfenbrenner, U.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1979.0,0
1174,NaN,NaN,NaN,NaN,NaN,"['Cohen, J.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1988.0,0
1234,NaN,NaN,NaN,NaN,NaN,"['Costa, P. T.', 'McCrae, R. R.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1989.0,0
1363,NaN,NaN,NaN,NaN,NaN,"['De Jong, J.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2002.0,0
1423,NaN,NaN,NaN,NaN,NaN,"['Derogatis, L. R.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1993.0,0
1506,NaN,NaN,NaN,NaN,NaN,"['Drysdale, D.', 'Modzeleski, W.', 'Simons, A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2010.0,0
1530,NaN,NaN,NaN,NaN,NaN,"['Duncan, T. E.', 'Duncan, S. C.', 'Strycker, ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1999.0,0
1723,NaN,NaN,NaN,NaN,NaN,"['Fayers, P. M.', 'Machin, D.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2007.0,0
1749,NaN,NaN,NaN,NaN,NaN,"['Field, A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2005.0,0
1765,NaN,NaN,NaN,NaN,NaN,"['First, M. B.', 'Gibbon, M.', 'Spitzer, R. L....",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1996.0,0
1766,NaN,NaN,NaN,NaN,NaN,"['First, M. B.', 'Spitzer, R. L.', 'Gibbon, M....",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1994.0,0
1789,NaN,NaN,NaN,NaN,NaN,"['Foa, E. B.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1995.0,0
1794,NaN,NaN,NaN,NaN,NaN,"['Foa, E. B.', 'Hembree, E. A.', 'Dancu, C. V.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2002.0,0
1879,NaN,NaN,NaN,NaN,NaN,"['Fridthjof, R.', 'Pedersen, J. M.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2010.0,0
1886,NaN,NaN,NaN,NaN,NaN,"['Friedman, M. J.', 'Charney, D. S.', 'Deutch,...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1995.0,0
2123,NaN,NaN,NaN,NaN,NaN,"['Graham, J. W.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,NaN,0
2225,NaN,NaN,NaN,NaN,NaN,"['Haberman, S. J.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1978.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,NaN,NaN,NaN,NaN,NaN,"['Holen, A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1990.0,0
2440,NaN,NaN,NaN,NaN,NaN,"['Holen, A.', 'Sund, A.', 'Weisæth, L.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1983.0,0
2469,NaN,NaN,NaN,NaN,NaN,"['Horowitz, M. J.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1986.0,0
2585,NaN,NaN,NaN,NaN,NaN,"['Janoff-Bulman, R.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1992.0,0
2642,NaN,NaN,NaN,NaN,NaN,"['Johnson, J. H.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1986.0,0
2927,NaN,NaN,NaN,NaN,NaN,"['Knabb, R. D.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2006.0,0
3032,NaN,NaN,NaN,NaN,NaN,"['Kulka, R. A.', 'Schlenger, W. E.', 'Fairbank...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1990.0,0
3058,NaN,NaN,NaN,NaN,NaN,"['La Greca, A. M.', 'Vernberg, E. M.', 'Silver...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1994.0,0
3178,NaN,NaN,NaN,NaN,NaN,"['Leland, A.', 'Oboroceanu, M. J.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2010.0,0
3253,NaN,NaN,NaN,NaN,NaN,"['Litz, B. T.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2004.0,0
3586,NaN,NaN,NaN,NaN,NaN,"['McLachlan, G. J.', 'Peel, D.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2000.0,0
3611,NaN,NaN,NaN,NaN,NaN,"['Medicine, I.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2012.0,0
3861,NaN,NaN,NaN,NaN,NaN,"['Muthén, L. K.', 'Muthén, B. O.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1998.0,0
3878,NaN,NaN,NaN,NaN,NaN,"['Nagin, D. S.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2005.0,0
3947,NaN,NaN,NaN,NaN,NaN,"['Nice, Natioal Institute for Health', 'Care, ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2005.0,0
4407,NaN,NaN,NaN,NaN,NaN,"['Preacher, K. J.', 'Wichman, A. L.', 'MacCall...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2008.0,0
4427,NaN,NaN,NaN,NaN,NaN,"['Psychiatric Association, A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1994.0,0
4442,NaN,NaN,NaN,NaN,NaN,"['Pynoos, R.', 'Rodriguez, N.', 'Steinberg, A....",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1998.0,0
4524,NaN,NaN,NaN,NaN,NaN,"['Red, Cross']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1999.0,0
4561,NaN,NaN,NaN,NaN,NaN,"['Reynolds, C. R.', 'Richmond, B. O.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1985.0,0
4616,NaN,NaN,NaN,NaN,NaN,"['Robins, L. N.', 'Smith, E. M.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1983.0,0
4670,NaN,NaN,NaN,NaN,NaN,"['Rosenheck, R.', 'Bechel, H.', 'Blank, A. S.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1991.0,0
5129,NaN,NaN,NaN,NaN,NaN,"['Smith, M.', 'Epping-Jordan, J.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2000.0,0
5205,NaN,NaN,NaN,NaN,NaN,"['Spielberger, C. D.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1988.0,0
5399,NaN,NaN,NaN,NaN,NaN,"['Tanielian, T.', 'Jaycox, L. H.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2008.0,0
5431,NaN,NaN,NaN,NaN,NaN,"['Tellegen, A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1982.0,0
5487,Introduction: Exposure to armed conflict produ...,NaN,NaN,NaN,"D. Pineda, Grupo de Neurociencias de Antioquia...","['Tobón, C.', 'Aguirre-Acevedo, D. C.', 'Velil...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,NaN,2015.0,0
5805,NaN,NaN,NaN,NaN,NaN,"['Weathers, F.', 'Litz, B.', 'Herman, D.', 'Hu...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1993.0,0
5806,NaN,NaN,NaN,NaN,NaN,"['Weathers, F. W.', 'Huska, J. A.', 'Keane, T....",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1991.0,0
5851,NaN,NaN,NaN,NaN,NaN,"['Werner, E. E.', 'Smith, R. S.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1982.0,0

In [52]:
for ref in goedincl['title']:
    if not fout['title'].str.contains(ref).any():
        print(ref)

Early PTSD Symptom Trajectories: Persistence, Recovery, and Response to Treatment: Results from the Jerusalem Trauma Outreach and Prevention Study (J-TOPS)
Acute stress trajectories 1??year after a breast cancer diagnosis
Trajectories of posttraumatic stress symptoms (PTSS) after major war among Palestinian children: Trauma, family- and child-related predictors

C:\Users\alber\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [53]:
fout[fout['included'] == 1]

,abstract,access_date,accession_number,alternate_title1,author_address,authors,custom2,custom6,custom7,database_provider,...,short_title,start_page,title,type_of_reference,type_of_work,url,version,volume,year,included
284,OBJECTIVE: To identify trajectories of posttra...,NaN,25188895.0,The Journal of clinical psychiatry,"Research and Knowledge Center, The Danish Vete...","['Andersen, S. B.', 'Karstoft, K. I.', 'Bertel...",NaN,NaN,NaN,NLM,...,Latent trajectories of trauma symptoms and res...,1001-8,Latent trajectories of trauma symptoms and res...,JOUR,NaN,NaN,NaN,75,2014.0,1
335,The research literature has suggested that lon...,NaN,NaN,NaN,"School of Psychology, Faculty of Life and Heal...","['Armour, C.', 'Shevlin, M.', 'Elklit, A.', 'M...",NaN,NaN,NaN,NaN,...,A Latent Growth Mixture Modeling Approach to P...,20-28,A Latent Growth Mixture Modeling Approach to P...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,18,2012.0,1
592,"In the study reported here, we examined posttr...",NaN,NaN,NaN,Department of Psychology and Behavioral Scienc...,"['Berntsen, D.', 'Johannessen, K. B.', 'Thomse...",NaN,NaN,NaN,NaN,...,Peace and War: Trajectories of Posttraumatic S...,1557-1565,Peace and War: Trajectories of Posttraumatic S...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,23,2012.0,1
675,Large cohort studies suggest that most militar...,NaN,25630586.0,Journal of traumatic stress,Massachusetts Veterans Epidemiology Research a...,"['Boasso, A. M.', 'Steenkamp, M. M.', 'Nash, W...",NaN,NaN,NaN,NLM,...,The relationship between course of PTSD sympto...,73-8,The relationship between course of PTSD sympto...,JOUR,NaN,http://onlinelibrary.wiley.com/store/10.1002/j...,NaN,28,2015.0,1
719,Background: Most previous attempts to determin...,NaN,NaN,NaN,"Bonanno, George A.: Department of Counseling a...","['Bonanno, George A.', 'Mancini, Anthony D.', ...",NaN,NaN,NaN,NaN,...,Trajectories of trauma symptoms and resilience...,317-323,Trajectories of trauma symptoms and resilience...,JOUR,Military Psychology 3800,http://ovidsp.ovid.com/ovidweb.cgi?T=JS&PAGE=r...,http://dx.doi.org/10.1192/bjp.bp.111.096552,200,2012.0,1
720,Background: Most previous attempts to determin...,NaN,NaN,NaN,Department of Counseling and Clinical Psycholo...,"['Bonanno, G. A.', 'Mancini, A. D.', 'Horton, ...",NaN,NaN,NaN,NaN,...,Trajectories of trauma symptoms and resilience...,317-323,Trajectories of trauma symptoms and resilience...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,200,2012.0,1
896,BACKGROUND: Traumatic injuries affect millions...,NaN,25657356.0,The British journal of psychiatry : the journa...,"Richard A. Bryant, PhD, School of Psychology, ...","['Bryant, R. A.', 'Nickerson, A.', 'Creamer, M...",NaN,NaN,NaN,NLM,...,Trajectory of post-traumatic stress following ...,417-23,Trajectory of post-traumatic stress following ...,JOUR,NaN,http://bjp.rcpsych.org/content/bjprcpsych/206/...,NaN,206,2015.0,1
897,NaN,NaN,NaN,NaN,NaN,"['Bryant, R. A.', 'Nickerson, A.', 'Creamer, M...",NaN,NaN,NaN,NaN,...,Trajectory of post-traumatic stress following ...,NaN,Trajectory of post-traumatic stress following ...,JOUR,NaN,NaN,NaN,NaN,2015.0,1
1425,Objective: To investigate trajectories of PTSD...,NaN,NaN,NaN,"T.A. deRoon-Cassini, Department of Surgery/Tra...","['deRoon-Cassini, T. A.', 'Mancini, A. D.', 'R...",NaN,NaN,NaN,NaN,...,Psychopathology and Resilience Following Traum...,1-11,Psychopathology and Resilience Following Traum...,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,55,2010.0,1
1446,Unconditional and conditional trajectories of ...,NaN,NaN,NaN,"B.D. Dickstein, National Center for PTSD, VA B...","['Dickstein, B. D.', 'Suvak, M.', 'Litz, B. T....",NaN,NaN,NaN,NaN,...,Heterogeneity in the course of posttraumatic s...,331-339,Heterogeneity in the course of posttraumatic s...,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,23,2010.0,1
1568,Background: Deployment can put soldiers at ris...,NaN,NaN,NaN,"Military Mental Health Research Centre, Minist...","['Eekhout, I.', 'Reijnen, A.', 'Vermetten, E.'...",NaN,NaN,NaN,NaN,...,Post-traumatic stress symptoms 5 years after m...,58-64,Post-traumatic stress symptoms 5 years after m...,JOUR,Article,http://www.scopus.com/inward/record.url?eid=2-...,NaN,3,2016.0,1
1922,Context:Uncovering heterogeneities in the prog...,NaN,NaN,NaN,"Center for Traumatic Stress Studies, Hadassah ...","['Galatzer-Levy, I. R.', 'Ankri, Y.', 'Freedma...",NaN,NaN,e70084,NaN,...,"Early PTSD Symptom Trajectories: Persistence, ...",NaN,"Early PTSD Symptom Trajectories: Persistence, ...",JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,8,2013.0,1
1933,Research has consistently demonstrated that st...,NaN,NaN,NaN,"New York University School of Medicine, United...","['Galatzer-Levy, I. R.', 'Madan, A.', 'Neylan,...",NaN,NaN,NaN,NaN,...,Peritraumatic and trait dissociation different...,557-565,Peritraumatic and trait dissociation different...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,24,2011.0,1
2382,"OBJECTIVE: Following child trauma, parents are...",NaN,26268244.0,Journal of pediatric psychology,"Department of Psychology, University of Bath, ...","['Hiller, R. M.', 'Halligan, S. L.', 'Ariyanay...",NaN,NaN,NaN,NLM,...,Predictors of Posttraumatic Stress Symptom Tra...,108-16,Predictors of Posttraumatic Stress Symptom Tra...,JOUR,NaN,http://jpepsy.oxfordjournals.org/content/41/1/...,NaN,41,2016.0,1
2408,We examined posttraumatic stress disorder (PTS...,NaN,NaN,NaN,"Rush Medical College, Chicago, IL, United Stat...","['Hobfoll, S. E.', 'Mancini, A. D.', 'Hall, B....",NaN,NaN,NaN,NaN,...,The limits of resilience: Distress following c...,1400-1408,The limits of resilience: Distress following c...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,72,2011.0,1
2444,This study analyzed trajectories of initial st...,NaN,NaN,NaN,"K.H. Holgersen, Department of Neuroscience, No...","['Holgersen, K. H.', 'Klockner, C. A.', 'Boe, ...",NaN,NaN,NaN,NaN,...,Disaster survivors in their third decade: traj...,334-341,Disaster survivors in their third decade: traj...,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,24,2011.0,1
2445,This study analyzed trajectories of initial st...,NaN,NaN,NaN,"K.H. Holgersen, Department of Neuroscience, No...","['Holgersen, K. H.', 'Klöckner, C. A.', 'Boe, ...",NaN,NaN,NaN,NaN,...,Disaster survivors in their third decade: traj...,334-341,Disaster survivors in their third decade: traj...,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,24,2011.0,1
2455,Background We investigated the distinct longit...,NaN,NaN,NaN,"Department of Psychiatry, College of Medicine,...","['Hong, S. B.', 'Youssef, G. J.', 'Song, S. H....",NaN,NaN,NaN,NaN,...,Different clinical courses of children exposed...,1226-1233,Different clinical courses of children exposed...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,55,2014.0,1
2472,Objective: This study investigated trajectorie...,NaN,NaN,NaN,"Department of Psychological Studies, Hong Kong...","['Hou, W. K.', 'Law, C. C.', 'Yin, J.', 'Fu, Y...",NaN,NaN,NaN,NaN,...,"Resource Loss, Resource Gain, and Psychologica...",484-495,"Resource Loss, Resource Gain, and Psychologica...",JOUR,Article,http://www.scopus.com/inward/record.url?eid=2-...,NaN,29,2010.0,1
2616,BACKGROUND: The characteristics of long-term t...,NaN,26401968.0,Journal of anxiety disorders,"National Centre for Disaster Psychiatry, Depar...","['Johannesson, K. B.', 'Arinell, H.', 'Arnberg...",NaN,NaN,NaN,NLM,...,Six years after the wave. Trajectories of post...,15-24,Six years after the wave. Trajectories of post...,JOUR,NaN,http://ac.els-cdn.com/S0887618515300098/1-s2.0...,NaN,36,2015.0,1
3053,Background: There are no studies of the distin...,NaN,NaN,NaN,"Department of Psychology, University of Miami,...","['La Greca, A. M.', 'Lai, B. S.', 'Llabre, M. ...",NaN,NaN,NaN,NaN,...,Children's Postdisaster Trajectories of PTS Sy...,351-369,Children's Postdisaster Trajectories of PTS Sy...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,42,2013.0,1
3141,OBJECTIVE: Trajectory analyses were used to em...,NaN,NaN,NaN,"R.M. Le Brocque, Centre of National Research o...","['Le Brocque, R. M.', 'Hendrikz, J.', 'Kenardy...",NaN,NaN,NaN,NaN,...,Parental response to child injury: examination...,646-655,Parental response to child injury: examination...,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,35,2010.0,1
3316,Exposure to natural disasters has been linked ...,NaN,NaN,NaN,"Department of Epidemiology, Columbia Universit...","['Lowe, S. R.', 'Joshi, S.', 'Pietrzak, R. H.'...",NaN,NaN,NaN,NaN,...,Mental health and general wellness in the afte...,162e170,Mental health and general wellness in the afte...,JOUR,Article,http://www.scopus.com/inward/record.url?eid=2-...,NaN,124,2015.0,1
3483,The longitudinal course of posttraumatic stres...,NaN,25990986.0,Journal of traumatic stress,New York City Department of Health and Mental ...,"['Maslow, C. B.', 'Caramanica, K.', 'Welch, A....",NaN,NaN,NaN,NLM,...,Trajectories of Scores on a Screening Instrume...,198-205,Trajectories of Scores on a Screening Instrume...,JOUR,NaN,http://onlinelibrary.wiley.com/store/10.1002/j...,NaN,28,2015.0,1
3489,Psychological adjustment after a major burn in...,NaN,NaN,NaN,Department of Psychiatry and Behavioral Scienc...,"['Mason, S. T.', 'Corry, N.', 'Gould, N. F.', ...",NaN,NaN,NaN,NaN,...,Growth curve trajectories of distress in burn ...,64-72,Growth curve trajectories of distress in burn ...,JOUR,Article,http://www.scopus.com/inward/record.url?eid=2-...,NaN,31,2010.0,1
3898,We examined the course of PTSD symptoms in a c...,NaN,25419860.0,Journal of abnormal psychology,NaN,"['Nash, W. P.', 'Boasso, A. M.', 'Steenkamp, M...",NaN,NaN,NaN,NLM,...,Posttraumatic Stress in Deployed Marines: Pros...,NaN,Posttraumatic Stress in Deployed Marines: Pros...,JOUR,NaN,NaN,NaN,NaN,2014.0,1
4011,"Taking advantage of two large, population-base...",NaN,NaN,NaN,"F.H. Norris, Dartmouth Medical School, Psychia...","['Norris, F. H.', 'Tracy, M.', 'Galea, S.']",NaN,NaN,NaN,NaN,...,Looking for resilience: Understanding the long...,2190-2198,Looking for resilience: Understanding the long...,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,68,2009.0,1
4104,In a sample with known levels of preshooting p...,NaN,NaN,NaN,"Northern Illinois University, Department of Ps...","['Orcutt, H. K.', 'Bonanno, G. A.', 'Hannan, S...",NaN,NaN,NaN,NaN,...,Prospective trajectories of posttraumatic stre...,249-256,Prospective trajectories of posttraumatic stre...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,27,2014.0,1
4106,Relatively little is known about the course of...,NaN,NaN,NaN,"Department of Psychology, Northern Illinois Un...","['Orcutt, H. K.', 'Erickson, D. J.', 'Wolfe, J.']",NaN,NaN,NaN,NaN,...,The course of PTSD symptoms among Gulf War vet...,195-202,The course of PTSD symptoms among Gulf War vet...,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,17,2004.0,1
4313,Background Longitudinal symptoms of post-traum...,NaN,NaN,NaN,National Center for Posttraumatic Stress Disor...,"['Pietrzak, R. H.', 'Feder, A.', 'Singh, R.', ...",NaN,NaN,NaN,NaN,...,Trajectories of PTSD risk and resilience in Wo...,205-219,Trajectories of PTSD risk and resilience in Wo...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,44,2014.0,1
4334,This study examined the nature and determinant...,NaN,NaN,NaN,National Center for Posttraumatic Stress Disor...,"['Pietrzak, R. H.', 'Van Ness, P. H.', 'Fried,...",NaN,NaN,NaN,NaN,...,Trajectories of posttraumatic stress symptomat...,520-526,Trajectories of posttraumatic stress symptomat...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,47,2013.0,1
4434,Objective Research shows great individual vari...,NaN,NaN,NaN,"R.-L. Punamaki, School of Social Sciences and ...","['Punamaki, R. L.', 'Palosaari, E.', 'Diab, M....",NaN,NaN,NaN,NaN,...,Trajectories of posttraumatic stress symptoms ...,133-140,Trajectories of posttraumatic stress symptoms ...,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,172,2014.0,1
4435,Objective Research shows great individual vari...,NaN,NaN,NaN,School of Social Sciences and Humanities/Psych...,"['Punamäki, R. L.', 'Palosaari, E.', 'Diab, M....",NaN,NaN,NaN,NaN,...,Trajectories of posttraumatic stress symptoms ...,133-140,Trajectories of posttraumatic stress symptoms ...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,172,2014.0,1
4768,To identify trajectories of depression and pos...,NaN,26625353.0,Journal of traumatic stress,"Department of Epidemiology, Boston University ...","['Sampson, L.', 'Cohen, G. H.', 'Calabrese, J....",Pmc4681498,Nihms742830,NaN,NLM,...,Mental Health Over Time in a Military Sample: ...,547-55,Mental Health Over Time in a Military Sample: ...,JOUR,NaN,http://onlinelibrary.wiley.com/store/10.1002/j...,NaN,28,2015.0,1
4938,Objectives: This study examined trajectories o...,NaN,NaN,NaN,"School of Public Health, Georgia State Univers...","['Self-Brown, S.', 'Lai, B. S.', 'Harbin, S.',...",NaN,NaN,NaN,NaN,...,Maternal posttraumatic stress disorder symptom...,NaN,Maternal posttraumatic stress disorder symptom...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,NaN,2014.0,1
4939,Objective: This study examined trajectories of...,NaN,NaN,NaN,"Georgia State University, Atlanta, GA 30303, U...","['Self-Brown, S.', 'Lai, B. S.', 'Thompson, J....",NaN,NaN,NaN,NaN,...,Posttraumatic stress disorder symptom trajecto...,198-204,Posttraumatic stress disorder symptom trajecto...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,147,2013.0,1
5054,Primary objective: To evaluate longitudinal tr...,NaN,NaN,NaN,"Department of Research, Sunnaas Rehabilitation...","['Sigurdardottir, S.', 'Andelic, N.', 'Roe, C....",NaN,NaN,NaN,NaN,...,Identifying longitudinal trajectories of emoti...,1542-1550,Identifying longitudinal trajectories of emoti...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,28,2014.0,1
5244,Theoretical frameworks positing qualitatively ...,NaN,NaN,NaN,"Department of Psychology, Boston University, B...","['Steenkamp, M. M.', 'Dickstein, B. D.', 'Salt...",NaN,NaN,NaN,NaN,...,Trajectories of PTSD symptoms following sexual...,469-474,Trajectories of PTSD symptoms following sexual...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,25,2012.0,1
5284,This study aimed to identify distinctive traje...,NaN,NaN,NaN,"M. Sterling, Centre for National Research on D...","['Sterling, M.', 'Hendrikz, J.', 'Kenardy, J.']",NaN,NaN,NaN,NaN,...,Compensation claim lodgement and health outcom...,22-28,Compensation claim lodgement and health outcom...,JOUR,NaN,http://www.embase.com/search/results?subaction...,NaN,150,2010.0,1
5479,Millions of volunteers respond after disasters...,NaN,26799823.0,Journal of traumatic stress,"Department of Psychiatry, Academic Medical Cen...","['Thormar, S. B.', 'Sijbrandij, M.', 'Gersons,...",NaN,NaN,NaN,NLM,...,PTSD Symptom Trajectories in Disaster Voluntee...,NaN,PTSD Symptom Trajectories in Disaster Voluntee...,JOUR,NaN,http://onlinelibrary.wiley.com/store/10.1002/j...,NaN,NaN,2016.0,1
5655,This study investigated traumatic stress sympt...,NaN,NaN,NaN,Department of Psychosocial and Behavioural Res...,"['van Loey, N. E.', 'van de Schoot, R.', 'Fabe...",NaN,NaN,e41532,NaN,...,Posttraumatic stress symptoms after exposure t...,NaN,Posttraumatic stress symptoms after exposure t...,JOUR,NaN,http://www.scopus.com/inward/record.url?eid=2-...,NaN,7,2012.0,1

In [54]:
# 1922,

In [55]:
# Acute stress trajectories

In [56]:
goedincl[goedincl['title'].str.contains('[Aa]cute')]

,authors,title,keywords,abstract,included
4004,"P??rez, S., Conchado, A., Andreu, Y., Gald??n,...",Acute stress trajectories 1??year after a brea...,"['Acute stress symptoms', 'Breast cancer', 'Co...",Purpose: The purpose of this study was to eval...,1

In [57]:
fout_authors_drop = fout['authors'].dropna()

In [58]:
fout_authors_drop[fout_authors_drop.str.contains("[Cc]onchado")]

4250    ['Pérez, S.', 'Conchado, A.', 'Andreu, Y.', 'G...
Name: authors, dtype: object

In [59]:
# 4250 is the desired row
# Change its included value to 1
fout.loc[4250,'included'] = 1

In [60]:
# Sanity check - # of inclusions is now 42
len(fout[fout['included'] == 1])

42

In [61]:
# Remove the 4 duplicate inclusions
fout = fout.drop(fout.index[[4435, 2445, 720, 897]])

In [62]:
# Sanity to check whether num == 38 inclusions
len(fout[fout['included'] == 1]) == 38

True

In [63]:
# Export to CSV - Index is None to prevent index from duplicating
fout.to_csv(r'simulationdata.csv', index = None)

In [64]:
df = pd.read_csv('simulationdata.csv')

In [65]:
df.head()

,abstract,access_date,accession_number,alternate_title1,author_address,authors,custom2,custom6,custom7,database_provider,...,short_title,start_page,title,type_of_reference,type_of_work,url,version,volume,year,included
0,NaN,NaN,NaN,NaN,NaN,"['Achenbach, T. M.', 'Rescorla, L. A.']",NaN,NaN,NaN,NaN,...,Manual for ASEBA School-Age Forms & Profiles,NaN,Manual for ASEBA School-Age Forms & Profiles,BOOK,NaN,NaN,NaN,NaN,2001.0,0
1,NaN,NaN,NaN,NaN,NaN,"['Dallow, N.', 'Lang, J.', 'Bellamy, N.']",NaN,NaN,NaN,NaN,...,Queensland Trauma Registry: A summary of paedi...,NaN,Queensland Trauma Registry: A summary of paedi...,BOOK,NaN,NaN,NaN,NaN,2007.0,0
2,This comprehensive overview of research and cl...,NaN,NaN,NaN,"Department of Psychiatry, University of Connec...","['Ford, J. D.', 'Grasso, D. J.', 'Elhai, J. D....",NaN,NaN,NaN,NaN,...,Posttraumatic Stress Disorder: Scientific and ...,1-604,Posttraumatic Stress Disorder: Scientific and ...,BOOK,Book,http://www.scopus.com/inward/record.url?eid=2-...,NaN,NaN,2015.0,0
3,NaN,NaN,NaN,NaN,NaN,"['Hollingshead, A. B.', 'Redlich, F. C.']",NaN,NaN,NaN,NaN,...,SOCIAL CLASS AND MENTAL ILLNESS,NaN,SOCIAL CLASS AND MENTAL ILLNESS,BOOK,NaN,NaN,NaN,NaN,1958.0,0
4,“‘Computerised Test Generation for Cross-Natio...,NaN,NaN,NaN,NaN,"['Irvine, S. H.']",NaN,NaN,NaN,NaN,...,Computerised test generation for cross-nationa...,1-466,Computerised test generation for cross-nationa...,BOOK,Book,http://www.scopus.com/inward/record.url?eid=2-...,NaN,NaN,2014.0,0

In [66]:
len(fout[(fout.abstract.isnull()) & (fout.title.isnull())])

62

In [67]:
fout[(fout.abstract.isnull()) & (fout.title.isnull())]#['included'].unique()

,abstract,access_date,accession_number,alternate_title1,author_address,authors,custom2,custom6,custom7,database_provider,...,short_title,start_page,title,type_of_reference,type_of_work,url,version,volume,year,included
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1994.0,0
152,NaN,NaN,NaN,NaN,NaN,"['Abidin, R. R.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1990.0,0
264,NaN,NaN,NaN,NaN,NaN,"['American Psychiatric, Association']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1987.0,0
413,NaN,NaN,NaN,NaN,NaN,"[""B'Tselem""]",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2009.0,0
515,NaN,NaN,NaN,NaN,NaN,"['Beck, A. T.', 'Steer, R. A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1987.0,0
516,NaN,NaN,NaN,NaN,NaN,"['Beck, A. T.', 'Steer, R. A.', 'Brown, G. K.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1996.0,0
572,NaN,NaN,NaN,NaN,NaN,"['Berg, R.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2009.0,0
576,NaN,NaN,NaN,NaN,NaN,"['Bergsten Brucefors, A.', 'Sidén Silfver, Y.'...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2001.0,0
653,NaN,NaN,NaN,NaN,NaN,"['Blake, D.', 'Weathers, F.', 'Nagy, L.', 'Kal...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1990.0,0
724,NaN,NaN,NaN,NaN,NaN,"['Bonanno, G. A.', 'Westphal, M.', 'Mancini, A...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,NaN,0
732,NaN,NaN,NaN,NaN,NaN,"['Bonnie, R. J.', 'Fulco, C. E.', 'Liverman, C...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1999.0,0
734,NaN,NaN,NaN,NaN,NaN,"['Borenstein, S.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2011.0,0
852,NaN,NaN,NaN,NaN,NaN,"['Bronfenbrenner, U.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1979.0,0
1174,NaN,NaN,NaN,NaN,NaN,"['Cohen, J.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1988.0,0
1234,NaN,NaN,NaN,NaN,NaN,"['Costa, P. T.', 'McCrae, R. R.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1989.0,0
1363,NaN,NaN,NaN,NaN,NaN,"['De Jong, J.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2002.0,0
1423,NaN,NaN,NaN,NaN,NaN,"['Derogatis, L. R.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1993.0,0
1506,NaN,NaN,NaN,NaN,NaN,"['Drysdale, D.', 'Modzeleski, W.', 'Simons, A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2010.0,0
1530,NaN,NaN,NaN,NaN,NaN,"['Duncan, T. E.', 'Duncan, S. C.', 'Strycker, ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1999.0,0
1723,NaN,NaN,NaN,NaN,NaN,"['Fayers, P. M.', 'Machin, D.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2007.0,0
1749,NaN,NaN,NaN,NaN,NaN,"['Field, A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2005.0,0
1765,NaN,NaN,NaN,NaN,NaN,"['First, M. B.', 'Gibbon, M.', 'Spitzer, R. L....",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1996.0,0
1766,NaN,NaN,NaN,NaN,NaN,"['First, M. B.', 'Spitzer, R. L.', 'Gibbon, M....",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1994.0,0
1789,NaN,NaN,NaN,NaN,NaN,"['Foa, E. B.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1995.0,0
1794,NaN,NaN,NaN,NaN,NaN,"['Foa, E. B.', 'Hembree, E. A.', 'Dancu, C. V.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2002.0,0
1879,NaN,NaN,NaN,NaN,NaN,"['Fridthjof, R.', 'Pedersen, J. M.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2010.0,0
1886,NaN,NaN,NaN,NaN,NaN,"['Friedman, M. J.', 'Charney, D. S.', 'Deutch,...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1995.0,0
2123,NaN,NaN,NaN,NaN,NaN,"['Graham, J. W.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,NaN,0
2225,NaN,NaN,NaN,NaN,NaN,"['Haberman, S. J.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1978.0,0
2290,NaN,NaN,NaN,NaN,NaN,"['Harter, S.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1985.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2406,NaN,NaN,NaN,NaN,NaN,"['Hobfoll, S. E.', 'Hall, B. J.', 'Canetti, D.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,NaN,0
2438,NaN,NaN,NaN,NaN,NaN,"['Holen, A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1990.0,0
2440,NaN,NaN,NaN,NaN,NaN,"['Holen, A.', 'Sund, A.', 'Weisæth, L.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1983.0,0
2469,NaN,NaN,NaN,NaN,NaN,"['Horowitz, M. J.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1986.0,0
2585,NaN,NaN,NaN,NaN,NaN,"['Janoff-Bulman, R.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1992.0,0
2642,NaN,NaN,NaN,NaN,NaN,"['Johnson, J. H.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1986.0,0
2927,NaN,NaN,NaN,NaN,NaN,"['Knabb, R. D.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2006.0,0
3032,NaN,NaN,NaN,NaN,NaN,"['Kulka, R. A.', 'Schlenger, W. E.', 'Fairbank...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1990.0,0
3058,NaN,NaN,NaN,NaN,NaN,"['La Greca, A. M.', 'Vernberg, E. M.', 'Silver...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1994.0,0
3178,NaN,NaN,NaN,NaN,NaN,"['Leland, A.', 'Oboroceanu, M. J.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2010.0,0
3253,NaN,NaN,NaN,NaN,NaN,"['Litz, B. T.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2004.0,0
3586,NaN,NaN,NaN,NaN,NaN,"['McLachlan, G. J.', 'Peel, D.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2000.0,0
3611,NaN,NaN,NaN,NaN,NaN,"['Medicine, I.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2012.0,0
3861,NaN,NaN,NaN,NaN,NaN,"['Muthén, L. K.', 'Muthén, B. O.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1998.0,0
3878,NaN,NaN,NaN,NaN,NaN,"['Nagin, D. S.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2005.0,0
3947,NaN,NaN,NaN,NaN,NaN,"['Nice, Natioal Institute for Health', 'Care, ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2005.0,0
4407,NaN,NaN,NaN,NaN,NaN,"['Preacher, K. J.', 'Wichman, A. L.', 'MacCall...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2008.0,0
4427,NaN,NaN,NaN,NaN,NaN,"['Psychiatric Association, A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1994.0,0
4442,NaN,NaN,NaN,NaN,NaN,"['Pynoos, R.', 'Rodriguez, N.', 'Steinberg, A....",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1998.0,0
4524,NaN,NaN,NaN,NaN,NaN,"['Red, Cross']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1999.0,0
4561,NaN,NaN,NaN,NaN,NaN,"['Reynolds, C. R.', 'Richmond, B. O.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1985.0,0
4616,NaN,NaN,NaN,NaN,NaN,"['Robins, L. N.', 'Smith, E. M.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1983.0,0
4670,NaN,NaN,NaN,NaN,NaN,"['Rosenheck, R.', 'Bechel, H.', 'Blank, A. S.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1991.0,0
5129,NaN,NaN,NaN,NaN,NaN,"['Smith, M.', 'Epping-Jordan, J.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2000.0,0
5205,NaN,NaN,NaN,NaN,NaN,"['Spielberger, C. D.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1988.0,0
5399,NaN,NaN,NaN,NaN,NaN,"['Tanielian, T.', 'Jaycox, L. H.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,2008.0,0
5431,NaN,NaN,NaN,NaN,NaN,"['Tellegen, A.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1982.0,0
5805,NaN,NaN,NaN,NaN,NaN,"['Weathers, F.', 'Litz, B.', 'Herman, D.', 'Hu...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1993.0,0
5806,NaN,NaN,NaN,NaN,NaN,"['Weathers, F. W.', 'Huska, J. A.', 'Keane, T....",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1991.0,0
5851,NaN,NaN,NaN,NaN,NaN,"['Werner, E. E.', 'Smith, R. S.']",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JOUR,NaN,NaN,NaN,NaN,1982.0,0